<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title layout:title="레시피 등록">레시피 등록</title>
</head>
<body layout:fragment="content" >
  <main id="container" class="recipe_write">

    <form th:action="@{${formAction}}" method="post" enctype="multipart/form-data">
    <!-- 제목 -->
      <h2 th:text="${mode == 'create'} ? '레시피 등록' : '레시피 보기'">레시피 등록</h2>
      <!-- Step 1 -->
      <div class="sub_card">
        <div class="sub_card_inner">
          <ul class="reci_cont">
            <li>
              <p class="cont_tit">레시피 제목</p>
              <div class="input_group input_area">
                <input type="text" name="recipeName" class="input_text"  th:value="${recipeForm.recipeName}" placeholder="내용을 입력해 주세요.">
              </div>
            </li>
            <li>
              <p class="cont_tit">요리 소개</p>
              <div class="input_writing_group input_area">
                <textarea name="recipeExplanation" th:text="${recipeForm.recipeExplanation}" placeholder="내용을 입력해주세요."></textarea>
              </div>
            </li>
            <li>
              <p class="cont_tit">카테고리</p>
              <div class="select_wrap">
                <div class="select_box tbl_select_box">
                  <span class="select_box_arr"></span>
                  <select class="select_box_value" name="recipeType">
                    <!-- 여기서 어떻게 처리할 지 고민 -->
                    <option th:each="category : ${categoryList}"
                            th:value="${category.categoryCode}"
                            th:text="${category.categoryCodeNm}"
                            th:selected="${category.categoryCode == recipeForm.recipeType}">
                    </option>
                  </select>
                </div>
              </div>
            </li>
            <li>

              <p class="cont_tit">요리정보</p>
              <div class="select_wrap cook_inf">
                <div class="cook_inf_wrap">
                  <div class="select_box tbl_select_box">
                    <span class="select_box_arr"></span>
                    <select class="select_box_value" name="recipeTime">
                      <!-- 여기서 어떻게 처리할 지 고민 -->
                      <option th:each="time : ${timeList}"
                              th:value="${time.categoryCode}"
                              th:text="${time.categoryCodeNm}"
                              th:selected="${time.categoryCode == recipeForm.recipeTime}">
                      </option>

                    </select>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div id="divMainPhotoUpload">
            <div id="divMainPhotoBox" class="img_upload_wrap" is_over="0">
              <!-- 여기서 어떻게 처리할 지 고민 -->
              <input type="hidden" name="recipeFileName" th:value="${recipeForm.recipeFileName}" style="display:none;">
              <img id="preview"
                   onclick="clickImage(this)"
                   th:src="${#strings.isEmpty(recipeForm.recipeFileName)} ? '/assets/images/pic_upload.gif' : '/upload/showImage?fileName=' + ${recipeForm.recipeFileName}"
                   style="cursor: pointer;"
                   alt="이미지 업로드 사진" />
            </div>
          </div>
        </div>
      </div>

      <!-- 여기서 어떻게 처리할 지 고민 -->
      <!-- Step 2 -->
      <!-- 재료 리스트 등 나머지 부분도 동일하게 유지 -->
      <!-- JS로 동적 추가/삭제 버튼은 그대로 사용 가능 -->
      <div class="sub_card">
        <div class="card_desc"><i class="ico_info_circle ico_24"></i><p>재료가 남거나 부족하지 않도록 정확한 계량정보를 적어주세요.</p></div>
        <div id="test">
          <ul class="material_wrap" id="material_wrap">

            <li class="material_inner" th:if="${#lists.isEmpty(recipeForm.ingredientGroupMap)}">
              <div class="input_group input_area material_tit">
                <input type="text" name="recipeEtc" class="input_text" value="" placeholder="재료 묶음 이름">
                <button type="button" class="btn btn_sm btn_secondary mat_innr_minus" onclick="deleteListWrap(this)">
                  <i class="ico_del white ico_24"></i>재료/양념 묶음 삭제
                </button>
              </div>
              <div class="material_lst_wrap">
                <ul class="material_lst">
                  <li>
                    <input type="text" name="recipeEtcIngredient" class="input_text" placeholder="예) 돼지고기">
                    <input type="text" name="recipeEtcQuantity" class="input_text" placeholder="예) 300g">
                    <button type="button" class="btn btn_md btn_secondary btn_radius btn_icon material_lst_del" onclick="deleteList(this)">
                      <i class="ico_del white ico_24"></i>
                    </button>
                  </li>
                </ul>
                <div class="lst_plus_wrap">
                  <button type="button" class="btn btn_md btn_border btn_icon mat_lst_plus" onclick="addList(this)">
                    <i class="ico_add black ico_24"></i>
                  </button>
                </div>
              </div>
            </li>
            <li class="material_inner" th:each="entry : ${recipeForm.ingredientGroupMap}">
              <div class="input_group input_area material_tit">
                <input type="text" name="recipeEtc" class="input_text" th:value="${entry.key}" placeholder="재료 묶음 이름" />
                <button type="button" class="btn btn_sm btn_secondary mat_innr_minus" onclick="deleteListWrap(this)">
                  <i class="ico_del white ico_24"></i>재료/양념 묶음 삭제
                </button>
              </div>
              <div class="material_lst_wrap">
                <ul class="material_lst">
                  <li th:each="ingredient : ${entry.value}">
                    <input type="text" name="recipeEtcIngredient" class="input_text" th:value="${ingredient.ingredientName}" placeholder="예) 돼지고기" />
                    <input type="text" name="recipeEtcQuantity" class="input_text" th:value="${ingredient.quantity}" placeholder="예) 300g" />
                    <button type="button" class="btn btn_md btn_secondary btn_radius btn_icon material_lst_del" onclick="deleteList(this)">
                      <i class="ico_del white ico_24"></i>
                    </button>
                  </li>
                </ul>
                <div class="lst_plus_wrap">
                  <button type="button" class="btn btn_md btn_border btn_icon mat_lst_plus" onclick="addList(this)">
                    <i class="ico_add black ico_24"></i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="material_inner_plus">
          <button type="button" id="etc_reg" class="btn btn_md btn_border mat_innr_plus"><i class="ico_add black ico_24"></i>재료/양념 묶음 추가</button>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="sub_card order_card">
        <h3>요리순서</h3>
        <ul class="step_lst">
          <li th:if="${#lists.isEmpty(recipeForm.recipeContents)}" id="stepList0">
            <p>Step<span class="stepTitNum">1</span></p>
            <div class="input_writing_group input_area step_txt">
              <textarea name="recipeContent" placeholder="내용을 입력해주세요."></textarea>
            </div>
            <div class="step_pic_wrap">
              <input type="hidden" name="stepFileName" class="step_upload" accept="image/* multiple">
              <img class="step_pic_add" onclick="clickImage(this)" th:src="@{/assets/images/add_pic.gif}" alt="step 이미지 추가">
            </div>
            <div class="del_btn_wrap">
              <button type="button" class="btn btn_md btn_secondary btn_radius btn_icon material_lst_del" onclick="deleteList(this)">
                <i class="ico_del white ico_24"></i>
              </button>
            </div>
          </li>
          <li th:each="content, iterStat : ${recipeForm.recipeContents}" th:id="'stepList' + ${iterStat.index}">
            <p>Step<span class="stepTitNum" th:text="${iterStat.index + 1}">1</span></p>
            <div class="input_writing_group input_area step_txt">
              <textarea name="recipeContent" th:text="${content}" placeholder="내용을 입력해주세요."></textarea>
            </div>
            <div class="step_pic_wrap">
              <input type="hidden" name="stepFileName" th:value="${recipeForm.stepFileNames[iterStat.index]}" class="step_upload" accept="image/* multiple">
              <img class="step_pic_add" onclick="clickImage(this)" th:src="${#strings.isEmpty(recipeForm.stepFileNames[iterStat.index])} ?
                     '/assets/images/add_pic.gif' :
                     '/upload/showImage?fileName=' + ${recipeForm.stepFileNames[iterStat.index]}" alt="step 이미지 추가">
            </div>
            <div class="del_btn_wrap">
              <button class="btn btn_md btn_secondary btn_radius btn_icon material_lst_del" onclick="deleteList(this);"><i class="ico_del white ico_24"></i></button>
            </div>
          </li>
        </ul>
        <div class="step_plus_wrap">
          <button type="button" class="btn btn_md btn_border step_plus" onclick="addStep(this)"><i class="ico_add black ico_24"></i>순서 추가</button>
        </div>
      </div>

      <div class="sub_card">
        <div class="sub_card_inner">
          <ul class="reci_cont">
            <li>
              <p class="cont_tit">요리팁</p>
              <div class="input_writing_group input_area">
                <textarea name="recipeTip"  th:text="${recipeForm.recipeTip}" placeholder="내용을 입력해주세요."></textarea>
              </div>
            </li>
          </ul>
        </div>
        <div class="btn_group">
          <button type="submit" th:text="${mode == 'create'} ? '레시피 저장' : '레시피 수정'" class="btn btn_md btn_primary">레시피 저장</button>
          <button type="button" class="btn btn_md btn_normal">취소</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>