<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="commonHead">
        <link th:href="@{/assets/css/reset.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/common.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/nav_style.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/jquery-ui.min.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/swiper.min.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/recipe_write.css}" rel="stylesheet" />
        <link th:href="@{/assets/css/sub.css}" rel="stylesheet" />
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/variable_func.js}"></script>
        <!-- 추가 CSS 파일들은 기존 JSP처럼 유지 -->
    </th:block>
</head>
</html>